#edit-custom-messages label {
  width: 100%;
  margin-left: 3px;
  word-break: break-all;
  text-align: left;
}

#edit-custom-messages input {
  width: 100%;
}

#edit-custom-messages p {
  padding-left: 3px;
  margin-top: 1px;
  border: solid 1px #d1d1d1;
  background: #eee;
}

#key-selector {
  width: 80%;
}

.btn-disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.select2-container--default .select2-results__option:not(.select2-results__option--highlighted) span.key {
  color: gray;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
  background: #ccc;
}
.select2-container--default .select2-results__option[aria-disabled=true] span {
  color: white;
}