<%= form_tag custom_message_settings_path, method: :post do %>
  <div id='edit-custom-names'>
    <%= render 'custom_message_settings/names', lang: @lang %>
  </div>
  <%= submit_tag l(:button_save) %>
<% end %>